* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

body#body-about {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  border-radius: .25rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 4rem 16rem;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

hr.divider {
  opacity: 0.25;
  border-top: 2px dashed rgb(51 65 85);
  margin: 2rem 0rem;
  width: 100%;
}

section.user-section {
  width: 100%;
  display: flex;
  justify-content: left;
  gap: 4rem;
  font-size: 2rem;
  align-items: center;
}

section.user-section div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

section.user-section div h1 {
  font-size: 3rem;
  font-weight: 600;
}

section.user-section img {
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  border: 2px solid black;
}

section.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

section.profile-section ul.links-container {
  width: 100%;
  display: grid;
  justify-content: space-between;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

section.profile-section ul.links-container li {
  text-align: center;
  padding: 1rem;
  border: 2px solid rgba(200, 200, 200, 0.7);
  border-radius: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: all .2s ease-in-out;
  background-color: rgba(255, 255, 255, 0.7);
}

section.profile-section ul.links-container li:hover {
  background-color: rgba(200, 200, 200, 0.7);
  border-color: rgba(255, 255, 255, 1);
  >:first-child {
    color: white;
  }
}

a.next-page {
  border: 2px solid rgba(68, 0, 97, 0.5);
  padding: .5rem 2rem;
  border-radius: 100px;
  background-color: rgba(255, 100, 200, 0.9);
  transition: all .2s ease-in-out;
}

a.next-page:hover {
  filter: brightness(70%);
}

section.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  width: 100%;
}

section.about-section img {
  width: 18rem;
  height: 18rem;
  animation: scaleAnimation 1.5s ease-in-out infinite;
}

section.about-section button {
  padding: .5rem 1rem;
  border: 1px solid black;
  border-radius: 100px;
  background-color: rgba(255, 200, 200, 0.7);
  transition: all .2s ease-in-out;
  cursor: pointer;
}

section.about-section div.presentation {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

@keyframes scaleAnimation {
  0%, 100% {
    transform: scaleX(1.25) scaleY(0.75);
  }
  50% {
    transform: scaleX(0.75) scaleY(1.25);
  }
}
